{
  "presets": [
    [
      "env",
      {
        "targets": { "uglify": true }
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    [
      "babel-plugin-rewrite-require",
      {
        "aliases": {
          "./requires.node": "./requires.browser"
        }
      }
    ]
  ]
}
